{% extends 'base.html' %}
{% block body %}
<div class="container-contact text-center">
    <h1 class="page-header text-center">Contact Info</h1>
    <ul class="list-group list-group-flush contact-list">
            <li class="list-group-item align-items-center">Name: {{ contact.name }}</li>
            <li class="list-group-item align-items-center">Type: {{ contact.contact_type }}</li>
            <li class="list-group-item align-items-center">Mobile: {{ contact.mobile_phone }}</li>
            <li class="list-group-item align-items-center">Work: {{ contact.work_phone }}</li>
            <li class="list-group-item align-items-center">Email: {{ contact.email }}</li>
            <li class="list-group-item align-items-center">Address: {{ contact.address }}</li>
            <li class="list-group-item align-items-center">Company Name: {{ contact.company }}</li>

            <h4 class="text-center">Notes: </h4>
            {% for note in notes %}
            <li class="list-group-item notes align-items-center">

                    <p class="indiv-note">{{ note.note }}</p><br>
                    <div class="notes-option-btns text-center">
                        <a href="/delete_note/{{ contact.id }}/{{ note.id }}" class="btn btn-primary btn-sm" role="button">Delete</a>
                        <a href="/edit_note/{{ contact.id }}/{{ note.id }}" class="btn btn-primary btn-sm" role="button">Edit</a>
    
                </div>
            </li>
            {% endfor %}
            
            <h4 class="text-center">Add Note: </h4>
            <li class="list-group-item notes align-items-center">
                <form method="POST">
                    {{form.hidden_tag()}}
                    {{form.note()}}<br>
                        {{form.submit(class="btn btn-primary btn-sm submit-btn")}}
                </form>
            </li>
        <a href="/update_contact/{{ contact.id }}" class="btn btn-primary btn-sm" role="button">Edit</a><br>
        <a href="/delete_contact/{{ contact.id }}" class="btn btn-primary btn-sm" role="button">Delete</a>
    </ul>
</div>
    {% endblock %}