{% extends 'base.html' %}
{% block body %}
<h1 class="main-header">Dashboard</h1>

    <ul class="list-group">
        {% for contact in contacts %}
        <li class="list-group-item">
            <p>Name: {{ contact.name }}</p> <br>
            <p>Mobile Phone: {{ contact.mobile_phone }}</p><br>
            <p>Company: {{ contact.company }}</p><br>
            <a href="/contact/{{ contact.id }}" class="btn btn-primary" role="button">Info</a>
            <a href="/delete_contact/{{ contact.id }}" class="btn btn-primary" role="button">Delete</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}