{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div class="m-4">
            <h1 class="text-center">Contact Resource Manager</h1>
        </div>
        <div >
            <h3 class="mx-2 my-5 text-center">
                For business and personal use, keep all of your contacts' information in one place. <br>
                Add notes to your contacts to remember important information, birthdays, 
                appointments or anything else you may need to write.
            </h3>
        </div>
        <div>
            <h2 class="m-5 text-center">Please <a href="{{ url_for('login') }}" class="btn btn-primary btn-sm" role="button">Log In</a> 
                or <a href="{{ url_for('register') }}" class="btn btn-primary btn-sm" role="button">Sign up</a>
                to continue to your Dashboard!
            </h2>
        </div>
    </div>
{% endblock %}