{% extends 'base.html' %}
{% block body %}
<div class="container login">
    <div class="panel panel-default">
        <div class="panel-heading h2 text-center">Login</div>
        <form class="form-login" method="POST">
            {{form.hidden_tag()}}
            <div class="panel-body h5">
                {{form.username.label}}
            </div>
            <div class="panel-body">
                {{form.username()}}
            </div>
            <div class="panel-body h5">
                {{form.password.label}}
            </div>
            <div class="panel-body">
                {{form.password()}}
            </div>
            <div class="panel-body">
                {{form.submit()}}
            </div>
            <div class="register-link">
                <p class="register-link-text">
                    Don't have an account? <a href="{{ url_for('register') }}">Sing up here!</a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}