@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;

}

.body-all{
    background-color: #f4f3ee;
}

.msg-flash{
    margin-top: 16px;
}

.login {
    height: 85vh;
    width: 100%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}


.panel {
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    background-color: #edede9;
    
}

.panel-body {
    padding: 5px;
    /* background-color: #bcb8b1; */
}

.panel-heading {
    border-bottom: solid;
    border-width: 1px;
    padding-bottom: 5px;
    margin-bottom: 0px
    
}

.form-login {
    background-color: #edede9;
    padding: 10px;
}

.register-link {
    border-top: solid;
    border-width: 1px;
}

.register-link-text {
    margin: 5px;
}

.page-header {
    margin: 1%;
}

.h3-home {
    margin: 5%;
    margin-top: 10%;
    margin-bottom: 10%
}

.h2-home {
    margin: 10%;
}

.notes {
    border: solid;
    border-width: 1px;
    margin: 5px;
}
.note {
    margin: 3px;
    width: 400px;
}


.margin-fix {
    margin: 2px;
}

.container-contact {
    display: flex;
    justify-content: space-evenly;

}

.submit-btn {
    margin-top: 3px;
}

.note-text-area {
    min-width: 300px;
    min-height: 100px;
}

.contact-info {
    min-width: 400px;
}

.contact-notes {
    max-width: 500px;
}

.contact-add-note {
    min-width: 350px;
}
.btns-contact {
    display: flex;
    justify-content: center;
}